<div class="row">
	<div class="col-sm-6">
		<h1>All Posts</h1>
	</div>
	<div class="col-sm-6">
		<a ui-sref="addpost" class="btn btn-primary pull-right">Add Post</a>
	</div>
</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Description</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="post in postvm.posts">
			<td ng-bind="post.id"></td>
			<td ng-bind="post.title"></td>
			<td ng-bind="post.body"></td>
			<td>
				<a ui-sref="editpost({postId: post.id})" class="btn btn-success">Edit</a>
				<button class="btn btn-danger" ng-click="postvm.removePost(post)">Remove</button>
			</td>
		</tr>
	</tbody>
</table>